<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="assets/output.css">
    <link rel="stylesheet" type="text/css" href="assets/bubbles.css">
    {% if page.title %}<meta name="title" content="{{ page.title }}">{% endif %}
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
</head>
<body>
    <div class="mx-auto">
        <header class="flex bg-gray-50 h-20 justify-between items-center">
            <div class="flex space-x-10 justify-between items-center">
                <a href="/" class="w-40 -m-t-25 ml-10">
                    <picture>
                        <source srcset="/assets/logo_small.webp" type="image/webp">
                        <source srcset="/assets/logo_small.png" type="image/png"> 
                        <img src=/assets/logo_small.png alt-text="trudi logo">
                    </picture>
                </a>
                <div class="hidden md:block">🧼 Cold Process Handmade Soaps</div>
                <div class="hidden md:block">🌎 No Nasties, No Palm Oil, No Plastic</div>
                <div class="hidden md:block">🇨🇭 Ethical, Vegan & Homemade in Geneva</div>
            </div>
            <div class="rounded-full bg-gray-200 p-2 ml-auto mr-10 text-center"><a href="/how-to-order">How to order</a></div>
        </header>
        <main>
            <div class="content">
                {{ content }}
            </div>
            <div class="w-full flex flex-wrap space-x-3 text-center text-xs justify-center items-center mt-20 py-2 bg-blue-50 bg-opacity-50">
                <div>This website has been optimised for low energy consumption.</div>
                <div id="wcb" class="carbonbadge wcb-d transform scale-75"></div>
                <script src="https://unpkg.com/website-carbon-badges@1.1.1/b.min.js" defer></script>
                <div>Be conscious about the web's energy needs. 💡🌲</div>
            </div>
            <div class="background">
                <div class="bubble-container">
                  <div class="bubble1"></div>
                  <div class="bubble2"></div>
                  <div class="bubble3"></div>
                  <div class="bubble4"></div>
                  <div class="bubble5 hidden md:block"></div>
                  <div class="bubble6 hidden md:block"></div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>

